
.meal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 14px;

  &__item {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid cadetblue;
    flex-shrink: 0;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__add-cart {
    height: 24px;
    background-color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }
}