
.meal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 14px;

  &__box {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  &__item {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    padding: 10px;
    box-sizing: border-box;
  }

  &__head {
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      height: 104px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(30,86,151,0) 1%, rgba(0,0,0,1) 100%);
      background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,86,151,0) 1%,rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,86,151,0) 1%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000000',GradientType=0 );
    }

    &:hover {
      .meal-list__image {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    max-height: 54px;
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    overflow: hidden;
    z-index: 1;
  }

  &__image {
    display: block;
    width: 100%;
    transition: 3s linear;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    padding: 16px;
  }

  &__description {
    margin-bottom: 4px;
  }

  &__weight {
    margin-bottom: 4px;
  }

  &__add-cart {
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #4CAF50;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #66BB6A;
    }
  }

  &__icon-cart {
    font-size: 18px;
    padding-left: 4px;
  }
}