
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00897b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  box-sizing: border-box;
  padding: 0 24px;
  z-index: 2;
}

.logo {
  color: #FFFFFF;
  margin-right: 40px;

  &__icon {
    font-size: 36px;
  }
}

app-cart-menu {
  margin-left: auto;
}